.container {
  max-width: 1100px;
  padding: 0-30px;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.card {
  display: block;
  margin-top: 30px;
  border-radius: 5px;
  &-title {
    background-color: rgb(201, 201, 201);
    color: $card-text-color;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &-contents {
    display: flex;
    background-color: $card-background;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .card-img-btn {
      display: block;
      .card-image {
        padding-top:10px;
        width: 200px;
      }
    }
    .card-text {
      padding: 10px;
      
    }
  }
  
  
}
