$backgroundColor: #040402; 
$bistre: #312315;
$sage: #C8C095;
$goldCrayola: #F8C58A;
$coyoteBrown: #7E603D;
$hoverLink: #ff9041;
$font-stack: "Arial", "Helvetica", "sans-serif";
$textColor: #d8d8d7; 


