header {
  background-image: url("../images/landscape2.png");
  background-size: cover;
  height: 420px;
  overflow: hidden;
}
nav {
    background-color: $bistre;
    position: relative;
    top: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $textColor;
    .title {
        position:relative;
        left: 20px;
        font-size: 40px;
        font-weight: bold;
    }
    ul {
      display: flex;
      list-style-type: none;
    }
    li {
      padding: 15px;
    }
    a {
      color: $textColor;
      text-decoration: none;
    }
    a:hover {
      color: $hoverLink;
    }
    
  }