.containerMain {
  display: grid;
  background-color: $coyoteBrown;
  border: 5px solid $bistre;
  width: 1010px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  grid-template-columns: 700px 300px;
  .posts {
      margin: 10px;
    background-color: $sage;
    border: 2px solid $bistre;
    border-radius: 20px;
  }
  .mail-input {
      margin: 10px;
    background-color: $sage;
    border: 2px solid $bistre;
    border-radius: 20px;
    .mail-container {
      display: block;
      .mail-title {
        display: flex;
        justify-content: center;
      }
      .email-input {
        display: flex;
        justify-content: center;
      }
      #email-list::placeholder {
          text-align: center;
      }
      .submit-email {
        display: flex;
        justify-content: center;
        align-content:center;
      }

    }
  }
}
