.containerMain {
  display: grid;
  background-color: $coyoteBrown;
  border: 5px solid $bistre;
  width: 1010px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  grid-template-columns: 700px 300px;
  .posts {
    display: block;
    margin: 10px;
    background-color: $sage;
    border-radius: 10px;
  }
  .side-bar {
    margin: 10px;
    .mail-container {
      background-color: $sage;
      border-radius: 10px;
      display: block;
      .mail-title {
        display: flex;
        justify-content: center;
      }
      .email-form {
        display: flex;
        justify-content: center;
      }
      #email-list::placeholder {
        text-align: center;
      }
      .submit-email {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
    .twitter-container {
      background-color: $sage;
      border-radius: 10px;
      display:block;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      .twitter-post {
        display: flex;
        justify-content: center;
      }
    }
  }
}
