@import "config";
@import "index";
@import "header";
@import "main";
@import "utility";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}
.seperator {
        display:block;
        height: 20px;
        background-color: $hoverLink;
    }